variant: openshift
version: {{ ocp_version_minor }}
metadata:
  name: 99-worker-chrony-conf
  labels:
    machineconfiguration.openshift.io/role: worker
storage:
  files:
  - path: /etc/chrony.conf
    mode: 0644
    overwrite: true
    contents:
      inline: |
      {% for host in groups['ntp'] %}  
        server {{ host }}
      {% endfor %}  
        driftfile /var/lib/chrony/drift
        makestep 1.0 3
        rtcsync
        logdir /var/log/chrony